---
---
{% include header.html %}


<div id="main">

    <table cellpadding=0 cellspacing=0>

        <tr><td colspan=10>
            <h1>CARDIS - Steering Committee </h1>
        </td></tr>

        <tr><td>
            <br>

            <h2>Steering Committee chair:</h2>
            <ul>
                <li><a href="http://www.uclouvain.be/crypto/people/show/7">Fran&ccedil;ois-Xavier Standaert (Chair)</a></li>
            </ul>
            <h2>Steering Committee members (alphabetical order):</h2>
            <ul>

                <li>Beg&uuml;l Bilgin</li>
                <li><a href="https://ileanabuhan.github.io/about/">Ileana Buhan</a></li>
                <li><a href="http://users.wpi.edu/~teisenbarth/">Thomas Eisenbarth</a></li>
                <li>Jean-Bernard Fischer</li>
				<li>Vincent Grosso</li>
                <li><a href="http://joye.site88.net/">Marc Joye</a></li>
                <li><a href="http://www.isg.rhul.ac.uk/~kostasm/">Konstantinos Markantonakis</a></li>
                <li><a href="https://www.emsec.rub.de/chair/_staff/amir-moradi/">Amir Moradi</a></li>
                <li><a href="http://homes.esat.kuleuven.be/~snikova/">Svetla Nikova</a></li>
				<li><a href="http://tpoeppelmann.de/">Thomas P&ouml;ppelmann</a></li>
                <li><a href="http://www.uclouvain.be/crypto/people/show/2">Jean-Jacques Quisquater</a></li>
                <li><a href="http://people.alari.ch/regaz/">Francesco Regazzoni</a></li>
                <li> Tobias Schneider </li>
                <li> Yannick Teglia </li>
                <li><a href="https://www.gueneysu.de/">Tim G&uuml;neysu</a></li>
                <li><a href="https://www.cryptoexperts.com/sbelaid/"> Sonia Bela&iuml;d</a></li>
            </ul>


            <h3>Former Sterring committee members:</h3>
            <ul>
                <li><a href="http://cedric.cnam.fr/~paradinas/">Pierre Paradinas</a></li>
                <li> Edouard de Jong </li>
                <li><a href="http://s3.eurecom.fr/~aurel/">Aur&eacute;lien Francillon</a></li>
                <li><a href="http://secinfo.msi.unilim.fr/lanet/public/jll.php">Jean-Louis Lanet</a></li>
                <li><a href="http://www.mangard.eu/">Stefan Mangard</a></li>
                <li>Emmanuel Prouff</li>
                <li><a href="http://www.esat.kuleuven.be/cosic/?page_id=79">Vincent Rijmen</a></li>
                <li><a href="http://www.cryptography.com/company/profiles/pankaj-rohatgi.html">Pankaj Rohatgi</a></li>
            </ul>
        </td></tr>

    </table>
 
    {% include footer.html %}
