---
---

{% include header.html %}

<div id="main">

    <h1>CARDIS Conferences Home</h1>

<h2>Smart Card Research and Advanced Application Conference</h2>


<p>This is CARDIS official main page, holding
    cardis <a href="archive.html"> history </a>
    and <a href="proceedings.html">proceedings </a></p>

<h2>CARDIS has merged with COSADE, please find more information on CASCADE  <b><a href="https://cascade-conference.org">cascade-conference.org</a></b>  </h2>




<h2> Follow CARDIS related announcements on Twitter<h2>

<a class="twitter-timeline" href="https://twitter.com/CardisConf"
data-widget-id="341559527021371392" data-border-color="#f24405"
data-tweet-limit="3" width="350" height="150" data-chrome="nofooter"
data-link-color="#037f8c" data-screen-name="CardisConf"
data-show-replies="true"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


{%  include footer.html  %}
