---
---
{% include header.html %}


<div id="main">

<!-- <table cellpadding=0 cellspacing=0> -->

<!-- <tr><td colspan=5> -->
<h1>CARDIS - Proceedings</h1>
<!-- </td></tr> -->

<table class="proceedingsBanner"><tr>
        <td><a href="#2015">2015</a></td>
        <td><a href="#2014">2014</a></td>
        <td><a href="#2013">2013</a></td>
        <td><a href="#2012">2012</a></td>
        <td><a href="#2011">2011</a></td>
        <td><a href="#2010">2010</a></td>
        <td><a href="#2008">2008</a></td>
        <td><a href="#2006">2006</a></td>
        <td><a href="#2004">2004</a></td>
        <td><a href="#2002">2002</a></td>
        <td><a href="#2000">2000</a></td>
        <td><a href="#1998">1998</a></td>
        <td><a href="#1996">1996</a></td>
        <td><a href="#1994">1994</a></td>
</tr></table>

<!-- <tr><td colspan=5> -->
<h2>Proceedings</h2>

We are in the process of collecting all the proceedings of previous
CARDIS, which should be soon available here.
<!-- </td></tr> -->

<!-- <tr><td> -->
<h2><a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/">CARDIS at DBLP</a></h2>

<a name="2015"></a>
<h2>14. CARDIS 2015:  Bochum, Germany  (<a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis2015.html">DBLP</a>, <a href="http://dx.doi.org/10.1007/978-3-319-31271-2">DOI</a>) </h2>

<!--#include file="./proceedings/2015.html" -->

Invited talks:
<ul>
<li> <b>Keynote 1: "White-Box Cryptography and Smart Cards: Friend or Foe?"</b>,  Brecht Wyseur <!-- (<a href="proceedings/cardis_2015/slides/CARDIS2014_Marc_Girault_Invited_Talk.pdf" target=_blank>slides</a></a>) --> </li>
<li> <b>Keynote 2: "Leakage Resilient Masking Schemes"</b>, Sebastian Faust (<a href="proceedings/cardis_2015/slides/Leakage_Resilient_Masking_Schemes.pdf" target=_blank>slides</a>) </li>
</ul>


<a name="2014"></a>
<h2>13. CARDIS 2014: Paris, France  (<a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis2014.html">DBLP</a>, <a href="http://dx.doi.org/10.1007/978-3-319-16763-3">DOI</a>) </h2>

<!--#include file="./proceedings/2014.html" -->

Invited talks:
<ul>
<li> <b>Keynote 1: "A Chip Card Sidelight on Lightweight Crypto"</b>, Marc Girault (<a href="proceedings/cardis_2014/slides/CARDIS2014_Marc_Girault_Invited_Talk.pdf" target=_blank>slides</a></a>) </li>
<li> <b>Keynote 2: "Designing Secure Smart Cards"</b>, Stefan Mangard <!-- (<a href="proceedings/cardis_2014/slides/.pdf" target=_blank>slides</a></a>) --> </li>
<li> <b>Panel Discussion: "20 years of CARDIS, 40 years of smart cards: Where do we go from there?"</b>, David M'Raihi (Moderator)</li>
</ul>


<a name="2013"></a>
<h2>12. CARDIS 2013: Berlin, Germany (<a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis2013.html">DBLP</a>, <a href="http://dx.doi.org/10.1007/978-3-319-08302-5">DOI</a>)</h2>

<!--#include file="./proceedings/2013.html" -->

<a name="2012"></a>
<h2>11. CARDIS 2012: Graz, Austria (<a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis2012.html">DBLP</a>, <a href="http://dx.doi.org/10.1007/978-3-642-37288-9">Springer</a>) </h2>

<h3>Java Card Security</h3>
<ul>
<li>Michael Lackner, Reinhard Berlach, Christian Steger, Reinhold Weiss, Johannes Loinig and Ernst Haselsteiner
<br><b>Towards the Hardware Accelerated Defensive Virtual Machine - Type and Bound Checks</b> (<a href="proceedings/cardis_2012/CARDIS2012_1.pdf" target=_blank>pdf</a>, <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_1">DOI</a>, <a href="http://dblp.uni-trier.de/rec/bibtex/conf/cardis/LacknerBLWS12">bibtex</a> )</li>
<li>Guillaume Barbu, Philippe Andouard and Christophe Giraud
<br><b>Dynamic Fault Injection Countermeasure &ndash; A New Conception of Java Card Security</b> (<a href="proceedings/cardis_2012/CARDIS2012_2.pdf" target=_blank>pdf</a>, <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_2">DOI</a>)</li>
<li>Julien Lancia
<br><b>Java Card combined attacks with localization-agnostic fault injection</b> (<a href="proceedings/cardis_2012/CARDIS2012_3.pdf" target=_blank>pdf</a>, <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_3">DOI</a>)</li>
</ul>

<h3>Protocols</h3>
<ul>
<li>S&eacute;bastien Canard, Lo&iuml;c Ferreira and Matt Robshaw
<br><b>Improved (and Practical) Public-key Authentication for UHF RFID Tags</b> (<a href="proceedings/cardis_2012/CARDIS2012_4.pdf" target=_blank>pdf</a>, <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_4">DOI</a>)</li>
<li>Jan Hajny and Lukas Malina
<br><b>Unlinkable Attribute-Based Credentials with Practical Revocation on Smart-Cards</b> (<a href="proceedings/cardis_2012/CARDIS2012_5.pdf" target=_blank>pdf</a>, <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_5">DOI</a>)</li>
</ul>

<h3>Side-Channel Attacks I</h3>
<ul>
<li>Thomas Roche, Emmanuel Prouff and Jean-S&eacute;bastien Coron
<br><b>On the Use of Shamirs Secret Sharing Against Side-Channel Analysis</b> (<a href="proceedings/cardis_2012/CARDIS2012_6.pdf" target=_blank>pdf</a>,  <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_6">DOI</a>)</li>
Luk Bettale
<br><b>Secure Multiple SBoxes Implementation with Arithmetically Masked Input</b> (<a href="proceedings/cardis_2012/CARDIS2012_7.pdf" target=_blank>pdf</a>,  <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_7">DOI</a>)</li>
<li>Jean-Luc Danger, Sylvain Guilley, Philippe Hoogvorst, Cedric Murdica, and David Naccache
<br><b>Low-Cost Countermeasure against RPA</b> (<a href="proceedings/cardis_2012/CARDIS2012_8.pdf" target=_blank>pdf</a>,  <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_8">DOI</a>)</li>
<li>Fran&ccedil;ois Durvaux, Mathieu Renauld, Francois-Xavier Standaert, Loic Van Oldeneel Tot Oldenzeel and Nicolas Veyrat-Charvillon
<br><b>Efficient Removal of Random Delays from Embedded Software Implementations using Hidden Markov Models</b> (<a href="proceedings/cardis_2012/CARDIS2012_9.pdf" target=_blank>pdf</a>,  <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_9">DOI</a>)</li>
</ul>


<h3>Invited Talk</h3>
<ul>
<li>N. Asokan<br><b>Mobile Platform Security</b> (<a href="proceedings\cardis_2012\CARDIS2012_10.pdf" target=_blank>pdf</a>)</li>
</ul>

<h3>Implementations</h3>
<ul>
<li>Tolga Yalcin and Elif Bilge Kavun
<br><b>On the Implementation Aspects of Sponge-based Authenticated Encryption for Pervasive Devices</b> (<a href="proceedings/cardis_2012/CARDIS2012_11.pdf" target=_blank>pdf</a>,  <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_10">DOI</a>)</li>
<li>Josep Balasch, Baris Ege, Thomas Eisenbarth, Beno&icirc;t G&eacute;rard, Zheng Gong, Tim G&uuml;neysu, Stefan Heyse, St&eacute;phanie Kerckhof, Francois Koeune, Thomas Plos, Thomas Poppelmann, Francesco Regazzoni, Francois-Xavier Standaert, Gilles Van Assche, Ronny Van Keer, Loic Van Oldeneel Tot Oldenzeel and Ingo von Maurich
<br><b>Compact Implementation and Performance Evaluation of Hash Functions in ATtiny Devices</b> (<a href="proceedings/cardis_2012/CARDIS2012_12.pdf" target=_blank>pdf</a>,  <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_11">DOI</a>)</li>
<li>Markus Pelnar, Michael Muehlberghuber and Michael Hutter
<br><b>Putting Together What Fits Together &ndash; GrAEStl</b> (<a href="proceedings/cardis_2012/CARDIS2012_13.pdf" target=_blank>pdf,  <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_12">DOI</a></a>)</li>
</ul>



<h3>Implementations for Constrainted Devices</h3>
<ul>
<li>Yuto Nakano, Carlos Cid, Shinsaku Kiyomoto and Yutaka Miyake
<br><b>Memory Access Pattern Protection for Resource-constrained Devices</b> (<a href="proceedings/cardis_2012/CARDIS2012_14.pdf" target=_blank>pdf, <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_13">DOI</a></a>)</li>
<li>Petr Susil and Serge Vaudenay
<br><b>Multipurpose Cryptographic Primitive ARMADILLO3</b> (<a href="proceedings/cardis_2012/CARDIS2012_15.pdf" target=_blank>pdf, <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_14">DOI</a></a>)</li>
</ul>

<h3>Side-Channel Attacks II</h3>
<ul>
<li>David Oswald and Christof Paar
<br><b>Improving Side-Channel Analysis with Optimal Pre-Processing Methods</b> (<a href="proceedings/cardis_2012/CARDIS2012_16.pdf" target=_blank>pdf</a>, <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_15">DOI</a>)</li>
<li>Sebastien Tiran and Philippe Maurine
<br><b>SCA with Magnitude Squared Coherence</b> (<a href="proceedings/cardis_2012/CARDIS2012_17.pdf" target=_blank>pdf</a>, <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_16">DOI</a>)</li>
<li>Johann Heyszl, Dominik Merli, Benedikt Heinz, Fabrizio De Santis and Georg Sigl
<br><b>Strengths and Limitations of High-Resolution Electromagnetic Field Measurements for Side-Channel Analysis</b> (<a href="proceedings/cardis_2012/CARDIS2012_18.pdf" target=_blank>pdf</a>, <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_17">DOI</a>)</li>
<li>Timo Bartkewitz
<br><b>Efficient Template Attacks Based on Probabilistic Multi-class Support Vector Machines</b> (<a href="proceedings/cardis_2012/CARDIS2012_19.pdf" target=_blank>pdf</a>, <a href="http://dx.doi.org/10.1007/978-3-642-37288-9_18">DOI</a>)</li>
</ul>


<h3>Invited Talk II</h3>
<ul>
<li>David Naccache
<b><br>Defensive Leakage Camouflage</b> (<a href="proceedings/cardis_2012/CARDIS2012_20.pdf" target=_blank>pdf</a>)</li>
</ul>
<!-- </td> -->
<!-- </tr> -->
<!-- </table> -->

<a name="2011"></a>
<h2><a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis2011.html">10. CARDIS 2011: Leuven, Belgium</a> </h2>
<a name="2010"></a>
<h2><a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis2010.html">9. CARDIS 2010: Passau, Germany</a> </h2>
<a name="2008"></a>
<h2><a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis2008.html">8. CARDIS 2008: London, UK</a> </h2>
<a name="2006"></a>
<h2><a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis2006.html">7. CARDIS 2006: Tarragona, Spain</a> </h2>
<a name="2004"></a>
<h2><a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis2004.html">6. CARDIS 2004: Toulouse, France</a> </h2>
<a name="2002"></a>
<h2><a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis2002.html">5. CARDIS 2002: San Jose, CA, USA</a> </h2>
<a name="2000"></a>
<h2><a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis2000.html">4. CARDIS 2000: Bristol, UK</a> </h2>
<a name="1998"></a>
<h2><a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis1998.html">3. CARDIS 1998: Louvain-la-Neuve, Belgium</a> </h2>
<a name="1996"></a>
<h2><a href="http://www.informatik.uni-trier.de/~ley/db/conf/cardis/cardis1996.html">2. CARDIS 1996: Amsterdam, The Netherlands</a> </h2>
<a name="1994"></a>
<h2>1. CARDIS 1994: Lille, France</h2>

<!--#include file="./proceedings/1994.html" -->

</ul>

<!-- </td> -->
<!-- </tr> -->
<!-- </table> -->
<center>

{% include footer.html %}
